$responsive: false;
$container-width: 1200px;

.main-wrapper {
  max-width: 1920px;
  @if not $responsive {
    min-width: $container-width;
  }
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.clearfix, .cf {
  &:after, &:before {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.container {
  @extend .clearfix;
  @if not $responsive {
    max-width: $container-width;
  }
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.img-fit {
  position: relative;
  img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.fancybox-modal {
  padding: 40px 40px 60px;
  &-info {
    text-align: left;
    h3 {
      font-size: 45px !important;
    }
    h4 {
      font-size: 30px !important;
    }
  }
  text-align: center;
  h3 {
    // customize font
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  h4 {
    // customize font
    font-size: 40px;
    margin-bottom: 20px;
  }
  .form {
    max-width: 345px;
    display: inline-block;
  }
  .input {
    width: 100%;
  }
  .btn-wrap {
    margin-bottom: 20px;
  }
  .input-wrap {
    margin-top: 10px;
    text-align: left;
  }
  p {
    line-height: 1.2;
    padding-bottom: 15px;
    font-size: 16px;
  }
}

.fancybox-close-small:after {
  font-size: 30px;
}