@mixin media($point) {
  @if ($responsive) {

    $lt-lg: "(max-width: 1199px)";
    $lt-md: "(max-width: 991px)";
    $lt-sm: "(max-width: 767px)";

    @if $point == lt-lg {
      @media #{$lt-lg} {
        @content;
      }
    } @else if $point == lt-md {
      @media #{$lt-md} {
        @content;
      }
    } @else if $point == lt-sm {
      @media #{$lt-sm}  {
        @content;
      }
    }
  }
}