@import "mixins";
@import "reset";
@import "fonts";
@import "common";
@import "media";


.flex-test {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .flex-item {
    height: 300px;
  }
}
