{% extends "layout.njk" %}
{% set title = "Index" %}
{% block main %}
    <div class="test-stuff">
        <div class="tabs-container" data-tabs>
            <ul data-tabs-controls>
                <li><a href="#t1">Lorem.</a></li>
                <li><a href="#t2">Illum.</a></li>
                <li><a href="#t3">Corporis!</a></li>
                <li><a href="#t4">Sapiente!</a></li>
            </ul>
            <div>
                <div data-tab-content id="t1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquam
                    aliquid aperiam asperiores at autem blanditiis corporis cupiditate distinctio doloribus ea eligendi
                    et
                    eum expedita, id incidunt ipsam iste laudantium maiores neque nesciunt nihil obcaecati omnis
                    perferendis, praesentium qui quos rem repellendus similique soluta temporibus veniam, vitae! Ipsa,
                    non.
                </div>
                <div data-tab-content id="t2">Cum eum ipsam iusto maiores molestiae nobis nulla
                    numquam omnis placeat
                    quae quaerat quam qui quibusdam quod recusandae sed, sequi sint temporibus ut veniam veritatis
                    voluptates voluptatibus. Ea eos minus quidem! Architecto eligendi error, ex magnam maxime, pariatur
                    quas
                    qui quod, repellat repudiandae sequi vel voluptas! Architecto asperiores pariatur quas.
                </div>
                <div data-tab-content id="t3">Animi aspernatur eaque exercitationem fugiat fugit
                    harum magni non,
                    porro
                    qui quo reiciendis repellendus voluptas? Accusamus adipisci, asperiores aut blanditiis cumque dolor
                    dolores eaque eligendi enim eveniet labore minima minus modi nemo non obcaecati omnis quos repellat
                    repudiandae tempore unde ut voluptate voluptatem! Adipisci aspernatur deserunt dolore repellat
                    repudiandae sed!
                </div>
                <div data-tab-content id="t4">Aut debitis ipsa laborum laudantium quis quo unde
                    vitae! A accusantium
                    architecto aut consequuntur dicta, dolorem doloremque dolorum earum, iure laudantium libero nesciunt
                    nobis officia quae similique voluptas voluptates. Corporis et ex expedita facilis, impedit maiores
                    molestiae nam necessitatibus nesciunt numquam quaerat quas reiciendis rerum sint suscipit ut vero,
                    voluptatem!
                </div>
            </div>
        </div>
        <ul>
            <li><a href="#s1" data-scroll>001</a></li>
            <li><a href="#s2" data-scroll="100">002</a></li>
            <li><a href="#s3" data-scroll>003</a></li>
        </ul>
        <div id="s1" style="height: 400px; background: tomato;"></div>
        <div id="s2" style="height: 400px; background: skyblue;"></div>
        <div id="s3" style="height: 400px; background: rebeccapurple;"></div>
    </div>
{% endblock %}
