<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>

    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="copyright" content="(c)">
    <!--todo: change viewport width-->
    <meta name="viewport" content="width=1200, initial-scale=1">
    <meta name="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta http-equiv="cleartype" content="on"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- build:css css/combined.css -->
    <link rel="stylesheet" href="vendor/bootstrap-grid.css">
    <link rel="stylesheet" href="vendor/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/animate.css">
    <link rel="stylesheet" href="vendor/slick-1.6.0/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick-1.6.0/slick/slick-theme.css">
    <link rel="stylesheet" href="styles/main.css">
    <!--- endbuild -->

</head>
<body>
<div class="main-wrapper">
    {% block main %}{% endblock %}
</div>

<div id="modal1" class="fancybox-modal modal-1" style="display: none;">
    <h3>Заполните форму</h3>
    <h4>и мы свяжемся с вами <br>
        в течении 10 минут</h4>
    <form action="send.php" id="form1" class="form js-ajax-form required-phone-agreement">
        <div class="form__row">
            <div class="input-wrap">
                <input type="text" name="phone" class="input" placeholder="Телефон" title="Телефон"
                       required>
            </div>
            <div class="input-wrap">
                <input type="text" name="name" class="input" placeholder="Имя" title="Имя">
            </div>
            <div class="btn-wrap input-wrap">
                <input type="submit" value="Заказать услугу" class="btn-primary">
            </div>
            <div class="input-wrap">
                <div class="agreement-wrap">
                    <label>
                        <input type="checkbox" name="agreement" checked required>
                        <span class="label-txt">Согласен на передачу персональных данных</span>
                    </label>
                </div>
            </div>
            <input type="hidden" name="whatForm" value="Заказ услуги с главного экрана">
        </div>
    </form>
</div>

<div id="modalInfo" class="fancybox-modal fancybox-modal--info" style="display: none;">
    <div class="container">
        <h3>Подробнее</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur culpa doloribus, earum
            eligendi est incidunt labore laboriosam libero maxime minima modi nostrum optio possimus quaerat quis
            quo quos reiciendis sequi voluptate. Consequuntur delectus dolorum enim maiores nobis, perferendis
            unde?</p>
        <p>Aliquam architecto, assumenda beatae ea error ex labore mollitia nam nihil odio officiis omnis quia
            soluta totam ullam, unde vel. Amet aut, consectetur debitis, dolore dolores earum eius error illo ipsa
            ipsum iste magni mollitia non praesentium reprehenderit velit voluptate!</p>
        <p>Ad aperiam architecto atque consectetur eligendi incidunt ipsa magnam minima modi, mollitia nesciunt
            porro possimus quae repellendus repudiandae soluta, voluptate voluptates! Architecto debitis eum ex
            facilis quibusdam sapiente tempora tenetur. Adipisci culpa cupiditate, deserunt expedita explicabo illum
            ipsum ratione voluptas.</p>
    </div>
</div>

<div id="modalThanks" class="fancybox-modal fancybox-modal--success" style=" display: none; ">
    <h3>Заявка успешно отправлена</h3>
    <h4>Мы свяжемся с вами в ближайшее время</h4>
</div>
<div id="modalError" class="fancybox-modal fancybox-modal--info" style="display: none;">
    <h4>При отправке заявки произошла ошибка</h4>
</div>

<!-- build:js scripts/combined.js -->
<script type="text/javascript" src="vendor/jquery.min.js"></script>
<script type="text/javascript" src="vendor/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="vendor/jquery.ajaxforms.js"></script>
<script type="text/javascript" src="vendor/jquery.validate.min.js"></script>
<script type="text/javascript" src="vendor/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="vendor/slick-1.6.0/slick/slick.min.js"></script>
<script type="text/javascript" src="vendor/wow.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
<!-- endbuild -->
<script>
    (new WOW({
        offset: 100,
        mobile: false
    })).init();

    // message to update for old browsers
    var $buoop = {vs: {i: 10, f: -4, o: -4, s: 8, c: -4}, api: 4};
    function $buo_f() {
        var e = document.createElement("script");
        e.src = "//browser-update.org/update.min.js";
        document.body.appendChild(e);
    }
    try {
        document.addEventListener("DOMContentLoaded", $buo_f, false)
    }
    catch (e) {
        window.attachEvent("onload", $buo_f)
    }
</script>
</body>
</html>